{% extends "page.html" %}

{% block content %}


      <center><h2 style=" "><font size="6" color=#2D9AB7>Predicted Topic</font></h2></center>
      <center><h3 class="dark" style=" margin-top: -25px;">{{topic}}</h3></center>
      

      <center><h2><font size="6" color=#2D9AB7>Probability</font></h2></center>
      <center><p class="dark" style=" margin-top: -25px;">{{Probability}}</p></center>

      <center><h2 style=" margin-bottom: -5px;margin-top: 55px;"><font size="6" color=#2D9AB7>Article used</font></h2></center>
      <center><p style="overflow: auto; width:900px; height:200px;margin: auto;" class="dark">{{text}}</p></center>
    
{% endblock %}